This notebook contains the procedure for cleaning and organizing raw data on US honey production from https://www.nass.usda.gov/ so it is ready for analysis routines in other notebooks. In short: I downloaded csv files for the years 2013-2017 and processed them into a single dataframe that I saved for future use.

In [1]:
#libraries
import pandas as pd
import numpy as np

Load in the original data set for comparison.

In [2]:
honey_raw = pd.read_csv('honeyproduction.csv')#honey data from 1998-2012
honey_raw.tail()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
621,VA,4000.0,41,164000.0,23000.0,3.77,618000.0,2012
622,WA,62000.0,41,2542000.0,1017000.0,2.38,6050000.0,2012
623,WV,6000.0,48,288000.0,95000.0,2.91,838000.0,2012
624,WI,60000.0,69,4140000.0,1863000.0,2.05,8487000.0,2012
625,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012

Load the data for 2013 and isolate the portion of the file with the relevant information.

In [3]:
hn2013_path = './Hone-03-21-2014/'
honey_2013_temp = pd.read_csv(hn2013_path+'hony_p03_t003.csv',usecols=[2,3,4,5,6,7,8],header=8,nrows=42,skip_blank_lines=True)

In [4]:
honey_2013_temp.info() #indicates there are a few rows with NaN values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
Unnamed: 2          39 non-null object
(1,000)             39 non-null float64
(pounds)            39 non-null float64
(1,000 pounds)      39 non-null float64
(1,000 pounds).1    39 non-null float64
(cents)             39 non-null float64
(1,000 dollars)     39 non-null float64
dtypes: float64(6), object(1)
memory usage: 2.4+ KB

Format a dataframe the more closely resembles the original dataset.

In [5]:
honey_2013 = pd.DataFrame()
honey_2013[['state','numcol','yieldpercol','totalprod','stocks','priceperlb','prodvalue']] = honey_2013_temp[list(honey_2013_temp.columns)]
honey_2013.dropna(inplace=True) #few rows of NaN values
honey_2013.reset_index(drop=True,inplace=True) #reset indexing
honey_2013['year'] = np.int64(2013*np.ones(len(honey_2013['state'])))

Add a column for the year and reformat columns to match the original dataset.

In [6]:
honey_2013['year'] = np.int64(2013*np.ones(len(honey_2013['state'])))
honey_2013['numcol'] = honey_2013.groupby('state')['numcol'].transform(lambda x:x*1000)
honey_2013['totalprod'] = honey_2013.groupby('state')['totalprod'].transform(lambda x:x*1000)
honey_2013['stocks'] = honey_2013.groupby('state')['stocks'].transform(lambda x:x*1000)
honey_2013['priceperlb'] = honey_2013.groupby('state')['priceperlb'].transform(lambda x:x/100)
honey_2013['prodvalue'] = honey_2013.groupby('state')['prodvalue'].transform(lambda x:x*1000)

In [7]:
honey_2013.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,Alabama,7000.0,52.0,364000.0,55000.0,2.81,1023000.0,2013
1,Arizona,29000.0,36.0,1044000.0,251000.0,1.89,1973000.0,2013
2,Arkansas,22000.0,60.0,1320000.0,66000.0,2.01,2653000.0,2013
3,California,330000.0,33.0,10890000.0,2505000.0,2.10,22869000.0,2013
4,Colorado,26000.0,43.0,1118000.0,324000.0,2.10,2348000.0,2013

Repeating the procedure I developed above for 2014-2017 datasets. This could be done in a loop in a single dataframe since I will concatenate these together in the end anyway. But for the handfull of years I have, it is easy enough to do one by one and a little safer since the reporting method changed in 2016 following an increase in funding.

In [8]:
hn2014_path = './Hone-03-20-2015/'
honey_2014_temp = pd.read_csv(hn2014_path+'hony_p03_t003.csv',usecols=[2,3,4,5,6,7,8],header=8,nrows=43)
honey_2014 = pd.DataFrame()
honey_2014[['state','numcol','yieldpercol','totalprod','stocks','priceperlb','prodvalue']] = honey_2014_temp[list(honey_2014_temp.columns)]
honey_2014.dropna(inplace=True)
honey_2014.reset_index(drop=True,inplace=True)
honey_2014['year'] = np.int64(2014*np.ones(len(honey_2014['state'])))
honey_2014[['numcol','totalprod','stocks','prodvalue']] = honey_2014.groupby('state')[['numcol','totalprod','stocks','prodvalue']].transform(lambda x:x*1000)
honey_2014['priceperlb'] = honey_2014.groupby('state')['priceperlb'].transform(lambda x:x/100)

In [9]:
hn2015_path = './Hone-03-22-2016/'
honey_2015_temp = pd.read_csv(hn2015_path+'hony_p03_t003.csv',usecols=[2,3,4,5,6,7,8],header=8,nrows=43)
honey_2015 = pd.DataFrame()
honey_2015[['state','numcol','yieldpercol','totalprod','stocks','priceperlb','prodvalue']] = honey_2015_temp[list(honey_2015_temp.columns)]
honey_2015.dropna(inplace=True)#.reset_index(drop=True)
honey_2015.reset_index(drop=True,inplace=True)
honey_2015['year'] = np.int64(2015*np.ones(len(honey_2015['state'])))
honey_2015[['numcol','totalprod','stocks','prodvalue']] = honey_2015.groupby('state')[['numcol','totalprod','stocks','prodvalue']].transform(lambda x:x*1000)
honey_2015['priceperlb'] = honey_2015.groupby('state')['priceperlb'].transform(lambda x:x/100)

In [10]:
hn2016_path = './Hone-03-22-2017/'
honey_2016_temp = pd.read_csv(hn2016_path+'hony_p04_t003.csv',usecols=[2,3,4,5,6,7,8],header=8,nrows=43)
honey_2016 = pd.DataFrame()
honey_2016[['state','numcol','yieldpercol','totalprod','stocks','priceperlb','prodvalue']] = honey_2016_temp[list(honey_2016_temp.columns)]
honey_2016.dropna(inplace=True)
honey_2016.reset_index(drop=True,inplace=True)
honey_2016['year'] = np.int64(2016*np.ones(len(honey_2016['state'])))
honey_2016[['numcol','totalprod','stocks','prodvalue']] = honey_2016.groupby('state')[['numcol','totalprod','stocks','prodvalue']].transform(lambda x:x*1000)
honey_2016['priceperlb'] = honey_2016.groupby('state')['priceperlb'].transform(lambda x:x/100)

In [11]:
hn2017_path = './Hone-03-14-2018/'
honey_2017_temp = pd.read_csv(hn2017_path+'hony_p03_t020.csv',usecols=[2,3,4,5,6,7,8],header=8,nrows=43)
honey_2017 = pd.DataFrame()
honey_2017[['state','numcol','yieldpercol','totalprod','stocks','priceperlb','prodvalue']] = honey_2017_temp[list(honey_2017_temp.columns)]
honey_2017.dropna(inplace=True)
honey_2017.reset_index(drop=True,inplace=True)
honey_2017['year'] = np.int64(2017*np.ones(len(honey_2017['state'])))
honey_2017[['numcol','totalprod','stocks','prodvalue']] = honey_2017.groupby('state')[['numcol','totalprod','stocks','prodvalue']].transform(lambda x:x*1000)
honey_2017['priceperlb'] = honey_2017.groupby('state')['priceperlb'].transform(lambda x:x/100)

Concatenate the dataframes for 2013-2017 into one:

In [12]:
honey_late = pd.concat([honey_2013,honey_2014,honey_2015,honey_2016,honey_2017],ignore_index=True)

In [13]:
honey_late.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,Alabama,7000.0,52.0,364000.0,55000.0,2.81,1023000.0,2013
1,Arizona,29000.0,36.0,1044000.0,251000.0,1.89,1973000.0,2013
2,Arkansas,22000.0,60.0,1320000.0,66000.0,2.01,2653000.0,2013
3,California,330000.0,33.0,10890000.0,2505000.0,2.10,22869000.0,2013
4,Colorado,26000.0,43.0,1118000.0,324000.0,2.10,2348000.0,2013

The one remaining difference between this dataframe and the original dataset is the states are not abbreviated. I found a pre-written dictionary that I copied-pasted here, which I use to change the 'state' column to abbreviated format.

In [14]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [15]:
honey_late['state'] = honey_late['state'].map(us_state_abbrev)

In [16]:
honey_late['state'].unique() #checking to make sure looks correct.

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN',
       'IA', 'KS', 'KY', 'LA', 'ME', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
       'NJ', 'NY', 'NC', 'ND', 'OH', 'OR', 'PA', 'SD', 'TN', 'TX', 'UT',
       'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'SC'], dtype=object)

In [17]:
honey_raw['state'].unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN',
       'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MI', 'MN', 'MS', 'MO', 'MT',
       'NE', 'NV', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA',
       'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'SC'], dtype=object)

Save to file for later use:

In [18]:
honey_late.to_csv('honeyproduction_late.csv',index=False)